.col-lg-9 p {
    color: rgb(114, 114, 114);
}
.col-lg-9 h5{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.col-lg-9 ol li{
    color: rgb(114, 114, 114);

}
.col-lg-9 ol{
    margin-bottom: 4rem;
}